<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css" />
</head>

<body>
    <%- include('navbar.ejs') %>
        <h2>Notifications</h2>

        <ul>
            <% for(var i=0; i< borrower.length; i++){%>
                <li class="card">
                    <div class="card-body">
                        You lent
                        <%= amount  %> to
                            <%= borrower[i] %>

                    </div>
                </li>
                <%}%>
        </ul>

</body>

</html>