<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <%- include('navbar.ejs') %>
        <h2>Notifications</h2>
        <ul>
            <li class="card">
                <div class="card-body">
                    <%= lender %> lent
                        <%= amount %> to
                            <%= borrower %>

                </div>
            </li>
        </ul>
</body>

</html>