@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}


/*----------bootstrap-navbar-css------------*/

.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: rgb(0, 136, 167);
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: rgb(0, 136, 167);
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 136, 167);
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

.nav-item {
    margin-right: 20px;
    font-size: 60px;
}

.navbar-toggler {
    padding: 0.25rem 3rem;
    font-size: 3.5rem;
}

@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
}


/* navbar css ended */

body {
    margin: 0px;
}

.dropdown {
    float: left;
}

.dropbtn {
    color: white;
}

.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 30px;
    border-color: rgb(0, 136, 167);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#list-item:hover {
    color: rgb(193, 236, 245);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#list-item {
    color: black;
    font-size: 1.2rem;
    padding: 8px;
}

.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.iconbutton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.button {
    width: 5rem;
    height: 3rem;
    background: rgb(0, 136, 167);
    border-radius: 0.3rem;
    border-color: rgb(0, 136, 167);
    margin-left: 47rem;
    text-align: center;
}

.iconbutton i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.card {
    margin-left: 25%;
    height: 9rem;
}

.btn-primary {
    height: 30px;
}

.btn-group button {
    background-color: rgb(0, 136, 167);
    border: 1px solid rgb(0, 136, 167);
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    float: left;
    margin-right: 2rem;
    margin-left: 30rem;
    font-size: 25px;
}

.btn-group button:not(:last-child) {
    border-right: none;
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: black;
    ;
}

h1 {
    padding-left: 38rem;
    color: white;
    background-color: rgb(0, 136, 167);
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.addExpense {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin-left: 20rem;
}

.date {
    margin-left: 3rem;
    height: 3rem;
    width: 10rem;
}

.totalbill {
    margin-left: 3rem;
    height: 3rem;
    width: 21rem;
}

.billname {
    margin-left: 3rem;
    height: 3rem;
    width: 32rem;
}

.people {
    margin-left: 3rem;
    height: 3rem;
    width: 32rem;
}


/* .button {
    margin-left: 47rem;
    height: 3rem;
    width: 15rem;
    color: white;
    text-align: center;
} */

.button:hover {
    background-color: white;
}


/* checkbox css */

.checkbox-dropdown {
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    user-select: none;
    margin-left: 38.7rem;
}


/* Display CSS arrow to the right of the dropdown text */

.checkbox-dropdown:after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}


/* Reverse the CSS arrow when the dropdown is active */

.checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    /* align the dropdown right below the dropdown text */
    border: inherit;
    border-top: none;
    left: -1px;
    /* align the dropdown to the left */
    right: -1px;
    /* align the dropdown to the right */
    opacity: 0;
    /* hide the dropdown */
    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none;
    /* avoid mouse click events inside the dropdown */
}

.is-active .checkbox-dropdown-list {
    opacity: 1;
    /* display the dropdown */
    pointer-events: auto;
    /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
    transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
    background-color: rgb(0, 136, 167);
    color: white;
}