#grpNamePic{
    display: none;
}

#container{
    width: 100%;
    left: 0px;
}

#SearchM{
    width: 100%;
    border: none;
    position: relative;
}

#SearchBar{
    /* border: 2px solid red; */
    width: 100%;
    height: 204px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#SearchBar form #search_ip{
    padding-right: 59px;
}

#SearchBar #addBtn{
    /* left: 102px; */
    top: 42px;
}

#addBtn button{
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
}

#SearchBar #Contd{
    display: block;
    top: 96px;
    left: 207px;
}

#Contd button{
    margin-top: 13px;
    padding-left: 21px;
    padding-right: 21px;
    background-color: #0088a7;
    font-size: 18px;
}

#SearchBar #Cancel{
    display: block;
    top: 96px;
    left: 88px;
}

#Cancel button{
    margin-top: 13px;
    padding-left: 29px;
    padding-right: 29px;
    background-color: #0088a7;
    font-size: 18px;
}

#grpIcon #edit_pic {
    top: 146px;
    left: 274px;
}


