@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

body {
    margin: 0px;
}

.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.iconbutton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.button {
    width: 60px;
    height: 60px;
    background: rgb(0, 136, 167);
}

.iconbutton i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.card {
    margin-left: 25%;
    height: 9rem;
}

.btn-primary {
    height: 30px;
}

.btn-group button {
    background-color: rgb(0, 136, 167);
    border: 1px solid rgb(0, 136, 167);
    color: white;
    height: 60px;
    width: 199px;
    /* padding: 10px 30px; */
    cursor: pointer;
    float: left;
    /* margin-right: 2rem; */
    /* margin-left: 30rem; */
    font-size: 25px;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: white;
    margin-left: 2rem;
}

form.example button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #0088a7;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: black;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}


/* .vl {
    border-left: 2px solid #0088a7;
    height: 100%;
    position: absolute;
    left: 30%;
    margin-left: -3px;
    top: 0;
} */


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: black;
}


/* h1 {
    padding-left: 8rem;
    color: white;
    background-color: rgb(0, 136, 167);
} */

.table {
    font-size: 20px;
    margin: auto;
    width: 50%;
}

.table-responsive>.table-bordered {
    width: 73%;
    /* border: 2px solid red; */
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.btn-info {
    padding-left: 10px;
}

#container_d {
    width: 100%;
    display: flex;
}

#GroupTitle {
    border-bottom: 1px solid #0088a7;
    width: 100%;
    background-color: honeydew
}

#GroupTitle h2 {
    color: #212529;
    /* text-align: center; */
    padding: 10px 0px 10px 30px;
    margin: 0px;
    position: relative;
}

#GroupTitle i {
    display: none;
}

#GroupTitle a {
    display: none;
}

#Expenses {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1095px;
    height: 368px;
    position: relative;
    top: 35px;
}

#Expenses #Action_btns {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    width: 697px;
    position: relative;
    left: 209px;
}

#Action_btns button {
    border-radius: 10px;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    position: relative;
    /* -ms-flex: 1 1 auto; */
    flex: 0 0 auto;
}

#SearchM {
    border-left: 3px solid #0088a7;
    height: 637px;
    width: 409px;
}

#SearchBar {
    /* border: 2px solid red; */
    position: relative;
    top: 3rem;
    left: 11rem;
}

form #searchBtn {
    width: 55px;
    /* padding: 8px 15px 8px 18px; */
    position: relative;
    left: 0px;
    background-color: #0088a7;
    color: white;
    font-size: 17px;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

i {
    margin-right: 4px;
}

#SearchBar form #search_ip {
    /* padding: 9px 122px 9px 15px; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 278px;
}

#SearchBar #addBtn {
    /* border: 2px solid blue; */
    position: absolute;
    left: 145px;
}

#addBtn button {
    margin-top: 13px;
    padding-left: 21px;
    padding-right: 21px;
    background-color: #0088a7;
}


/* #SearchBar #Contd{
    position: absolute;
    top: 103px;
    left: 137px;
    display: none;
} */

#SearchBar #Cancel {
    position: absolute;
    top: 103px;
    left: 137px;
    display: none;
}